<div class="article__container">
    <article class="article">
      <h2 class="article__header">Transform your brand</h2>
      <p class="article__text">
       Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero explicabo esse porro molestiae quas odit, distinctio quasi quos cumque voluptatem libero velit delectus laudantium, magnam, harum reiciendis autem eaque dolorem fuga vel placeat! Velit voluptates inventore harum amet illo itaque, ducimus molestiae, repudiandae iusto voluptas sit accusamus perferendis. Tempora possimus quae eligendi eum sequi hic ab reprehenderit repellendus fugiat debitis corporis at tenetur quasi minus aperiam facere, saepe, mollitia officia, odit incidunt in quaerat corrupti. Dolor mollitia reprehenderit animi alias!
      </p>
      <div class="learn-more">
        <p class="learn-more__text">Learn more</p>
        <div
          class="learn-more__underline learn-more__underline--yellow"
        ></div>
      </div>
    </article>
  </div>