<div class="testimonials__container">

    <h3 class="testimonial__heading">Client testimonials</h3>
    <section class="testimonials">

      <div class="testimonial">
          <img
            src="/images/image-emily.jpg"
            alt="Picture of Emily"
            class="testimonial__image"
          />
          <p class="testimonial__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo,
            cupiditate harum inventore ab possimus tempore laboriosam nam culpa
            velit minus.
          </p>
          <div class="testimonial__title">
            <p class="testimonial__name">Emily R.</p>
            <p class="testimonial__role">Marketing Director</p>
          </div>
      </div>
      <div class="testimonial">
        <img
          src="/images/image-thomas.jpg"
          alt="Picture of Thomas"
          class="testimonial__image"
        />
        <p class="testimonial__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo,
          cupiditate harum inventore ab possimus tempore laboriosam nam culpa
          velit minus.
        </p>
        <div class="testimonial__title">
          <p class="testimonial__name">Thomas S.</p>
          <p class="testimonial__role">Chief Operating Officer</p>
        </div>
    </div>
    <div class="testimonial">
        <img
          src="/images/image-jennie.jpg"
          alt="Picture of Jennie"
          class="testimonial__image"
        />
        <p class="testimonial__text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo,
          cupiditate harum inventore ab possimus tempore laboriosam nam culpa
          velit minus.
        </p>
        <div class="testimonial__title">
          <p class="testimonial__name">Jennie F.</p>
          <p class="testimonial__role">Business Owner</p>
        </div>
      
    </section>
</div>